# Carpetas de compilación
/WSPacketWorld/build/
/WSPacketWorld/dist/
/WSPacketWorld/nbproject/private/

/ClienteEscritorioPW/build/
/ClienteEscritorioPW/dist/
/ClienteEscritorioPW/nbproject/private/

# Archivos sensibles (¡NUNCA subir!)
mybatis-config.xml
*.log

# IDE
.DS_Store
Thumbs.db