<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">

    <select id="obtenerColaboradores" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador,
            c.nombre,
            c.apellidoPaterno,
            c.apellidoMaterno,
            c.curp,
            c.correo,
            c.numeroPersonal,
            c.password,
            c.numeroLicencia,
            c.idRol,
            
            -- Usamos IFNULL para que no falle si no encuentra el rol/sucursal
            IFNULL(r.nombre, 'Sin Rol') AS rol,
            
            c.idSucursal,
            IFNULL(s.nombre, 'Sin Sucursal') AS nombreSucursal,
            
            TO_BASE64(c.foto) AS fotoBase64
            
        FROM Colaborador c
        LEFT JOIN Rol r ON c.idRol = r.idRol
        LEFT JOIN Sucursal s ON c.idSucursal = s.idSucursal
    </select>

    <insert id="registrar" parameterType="pojo.Colaborador">
        INSERT INTO Colaborador 
        (nombre, apellidoPaterno, apellidoMaterno, curp, correo, numeroPersonal, password, idRol, idSucursal, numeroLicencia, foto)
        VALUES 
        (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{curp}, #{correo}, #{numeroPersonal}, #{password}, #{idRol}, #{idSucursal}, #{numeroLicencia}, #{foto})
    </insert>

    <update id="editar" parameterType="pojo.Colaborador">
        UPDATE Colaborador SET
            nombre = #{nombre},
            apellidoPaterno = #{apellidoPaterno},
            apellidoMaterno = #{apellidoMaterno},
            curp = #{curp},
            correo = #{correo},
            password = #{password},
            idSucursal = #{idSucursal},
            numeroLicencia = #{numeroLicencia},
            foto = #{foto}
        WHERE idColaborador = #{idColaborador}
    </update>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM Colaborador WHERE idColaborador = #{idColaborador}
    </delete>
    
    <select id="buscarPorNoPersonal" resultType="pojo.Colaborador" parameterType="string">
        SELECT * FROM Colaborador WHERE numeroPersonal = #{numeroPersonal}
    </select>
</mapper>