<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="envio">

    <insert id="registrar" parameterType="pojo.Envio" useGeneratedKeys="true" keyProperty="idEnvio">
        INSERT INTO envio 
        (numeroGuia, costo, peso, idCliente, idSucursalOrigen, idColoniaDestino, 
         calleDestino, numeroDestino, nombreDestinatario, idEstadoActual)
        VALUES 
        (#{numeroGuia}, #{costo}, #{peso}, #{idCliente}, #{idSucursalOrigen}, #{idColoniaDestino},
         #{calleDestino}, #{numeroDestino}, #{nombreDestinatario}, 1)
    </insert>

    <insert id="registrarHistorial" parameterType="map">
        INSERT INTO historialenvio (idEnvio, idEstadoEnvio, comentario, idColaborador, fechaCambio)
        VALUES (#{idEnvio}, #{idEstadoEnvio}, #{comentario}, #{idColaborador}, NOW())
    </insert>

    <update id="actualizarEstatus" parameterType="map">
        UPDATE envio
        <set>
            idEstadoActual = #{idEstadoActual}

            <if test="idConductor != null">
                , idConductor = #{idConductor}
            </if>

            <if test="idUnidad != null">
                , idUnidad = #{idUnidad}
            </if>
        </set>
        WHERE idEnvio = #{idEnvio}
    </update>

    
    <update id="actualizarSoloEstatus" parameterType="map">
        UPDATE envio 
        SET idEstadoActual = #{idEstadoActual}
        WHERE idEnvio = #{idEnvio}
    </update>

    <update id="actualizarCosto" parameterType="map">
        UPDATE envio SET costo = #{costo} WHERE idEnvio = #{idEnvio}
    </update>

    <select id="obtenerPorId" resultType="pojo.Envio" parameterType="int">
        SELECT 
            e.idEnvio, 
            e.idSucursalOrigen, 
            col.codigo_postal AS codigoPostalDestino 
        FROM envio e
        INNER JOIN colonias col ON e.idColoniaDestino = col.id
        WHERE e.idEnvio = #{idEnvio}
    </select>

    <select id="buscarPorGuia" resultType="pojo.Envio" parameterType="string">
        SELECT 
            e.idEnvio, e.numeroGuia, e.costo, e.peso,
            e.calleDestino, e.numeroDestino, e.nombreDestinatario,

            -- Cliente
            e.idCliente, CONCAT(cl.nombre, ' ', cl.apellidoPaterno) AS nombreCliente,

            -- Origen
            e.idSucursalOrigen, s.nombre AS nombreSucursalOrigen,

            -- Destino
            e.idColoniaDestino, 
            col.nombre AS nombreColonia, 
            col.codigo_postal AS codigoPostalDestino,
            mun.nombre AS municipio, 
            est.nombre AS estado,

            -- Logística
            e.idUnidad, CONCAT(u.marca, ' - ', u.modelo) AS infoUnidad,
            e.idConductor, CONCAT(colab.nombre, ' ', colab.apellidoPaterno) AS nombreConductor,

            -- Estatus
            e.idEstadoActual, edo.nombre AS estatus

        FROM envio e
        INNER JOIN cliente cl ON e.idCliente = cl.idCliente
        INNER JOIN sucursal s ON e.idSucursalOrigen = s.idSucursal
        INNER JOIN colonias col ON e.idColoniaDestino = col.id
        INNER JOIN municipios mun ON col.idMunicipio = mun.id
        INNER JOIN estados est ON mun.idEstado = est.id
        INNER JOIN estadoenvio edo ON e.idEstadoActual = edo.idEstadoEnvio

        LEFT JOIN unidad u ON e.idUnidad = u.idUnidad
        LEFT JOIN colaborador colab ON e.idConductor = colab.idColaborador

        WHERE e.numeroGuia = #{numeroGuia}
    </select>
    
    <select id="obtenerTodos" resultType="pojo.Envio">
        SELECT 
            e.idEnvio, e.numeroGuia, e.nombreDestinatario, e.costo, e.idEstadoActual,
            col.nombre AS nombreColonia, 
            mun.nombre AS municipio,
            edo.nombre AS estatus
        FROM envio e
        INNER JOIN colonias col ON e.idColoniaDestino = col.id
        INNER JOIN municipios mun ON col.idMunicipio = mun.id
        INNER JOIN estadoenvio edo ON e.idEstadoActual = edo.idEstadoEnvio
    </select>
    
    <select id="obtenerPorConductor" resultType="pojo.Envio" parameterType="int">
        SELECT 
            e.idEnvio, e.numeroGuia, e.costo, e.peso,
            e.calleDestino, e.numeroDestino, e.nombreDestinatario,
            e.idCliente, 
            e.idSucursalOrigen, 
            e.idColoniaDestino, 
            e.idUnidad, 
            e.idConductor, 
            e.idEstadoActual,
            s.nombre AS nombreSucursalOrigen,
            col.nombre AS nombreColonia,
            edo.nombre AS estatus
        FROM envio e
        LEFT JOIN sucursal s ON e.idSucursalOrigen = s.idSucursal
        LEFT JOIN colonias col ON e.idColoniaDestino = col.id
        LEFT JOIN estadoenvio edo ON e.idEstadoActual = edo.idEstadoEnvio
        WHERE e.idConductor = #{idConductor}
    </select>

</mapper>