<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">

<select id="obtenerTodas" resultType="pojo.Sucursal">
        SELECT 
            s.idSucursal,
            s.nombre,
            s.calle,
            s.numero,
            s.idColonia,
            s.estatus,
            
            
            IFNULL(c.nombre, '') AS nombreColonia,
            IFNULL(c.codigo_postal, '') AS codigoPostal,
            IFNULL(m.nombre, '') AS municipio,
            IFNULL(e.nombre, '') AS estado
            
        FROM Sucursal s
        LEFT JOIN colonias c ON s.idColonia = c.id
        LEFT JOIN municipios m ON c.idMunicipio = m.id
        LEFT JOIN estados e ON m.idEstado = e.id
            </select>

    <insert id="registrar" parameterType="pojo.Sucursal" useGeneratedKeys="true" keyProperty="idSucursal">
        INSERT INTO Sucursal (nombre, calle, numero, idColonia, estatus)
        VALUES (#{nombre}, #{calle}, #{numero}, #{idColonia}, 1)
    </insert>

    <update id="editar" parameterType="pojo.Sucursal">
        UPDATE Sucursal SET
            nombre = #{nombre},
            calle = #{calle},
            numero = #{numero},
            idColonia = #{idColonia}
        WHERE idSucursal = #{idSucursal}
    </update>
    
    <update id="eliminar" parameterType="int">
        UPDATE Sucursal SET estatus = 0 WHERE idSucursal = #{idSucursal}
    </update>

</mapper>