<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">

    <select id="obtenerTodas" resultType="pojo.Sucursal">
        SELECT 
            s.idSucursal,
            s.nombre,
            s.calle,
            s.numero,
            s.latitud,
            s.longitud,
            s.idColonia,
            c.nombre AS nombreColonia,
            c.codigo_postal AS cp,
            m.nombre AS municipio,
            e.nombre AS estado
        FROM Sucursal s
        INNER JOIN colonias c ON s.idColonia = c.id
        INNER JOIN municipios m ON c.municipio = m.id
        INNER JOIN estados e ON m.estado = e.id
    </select>

    <insert id="registrar" parameterType="pojo.Sucursal">
        INSERT INTO Sucursal (nombre, idColonia, calle, numero, latitud, longitud)
        VALUES (#{nombre}, #{idColonia}, #{calle}, #{numero}, #{latitud}, #{longitud})
    </insert>

    <update id="editar" parameterType="pojo.Sucursal">
        UPDATE Sucursal SET
            nombre = #{nombre},
            idColonia = #{idColonia},
            calle = #{calle},
            numero = #{numero},
            latitud = #{latitud},
            longitud = #{longitud}
        WHERE idSucursal = #{idSucursal}
    </update>
</mapper>