<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unidad">

    <select id="obtenerUnidades" resultType="pojo.Unidad">
        SELECT 
            u.idUnidad, u.marca, u.modelo, u.anio, u.vin, u.nii, 
            u.idTipoUnidad, u.idSucursal,
            u.idColaborador, 
            IFNULL(t.nombre, 'Sin Tipo') AS nombreTipo,
            IFNULL(s.nombre, 'Sin Sucursal') AS nombreSucursal,
            IFNULL(CONCAT(c.nombre, ' ', c.apellidoPaterno), 'Sin Asignar') AS nombreColaborador
            
        FROM Unidad u
        LEFT JOIN TipoUnidad t ON u.idTipoUnidad = t.idTipoUnidad
        LEFT JOIN Sucursal s ON u.idSucursal = s.idSucursal
        LEFT JOIN colaborador c ON u.idColaborador = c.idColaborador
    </select>

    <insert id="registrar" parameterType="pojo.Unidad" useGeneratedKeys="true" keyProperty="idUnidad">
        INSERT INTO Unidad (marca, modelo, anio, vin, nii, idTipoUnidad, idSucursal)
        VALUES (#{marca}, #{modelo}, #{anio}, #{vin}, #{nii}, #{idTipoUnidad}, #{idSucursal})
    </insert>

    <update id="editar" parameterType="pojo.Unidad">
        UPDATE Unidad SET 
            marca = #{marca},
            modelo = #{modelo},
            anio = #{anio},
            vin = #{vin},
            nii = #{nii},
            idTipoUnidad = #{idTipoUnidad},
            idSucursal = #{idSucursal}
        WHERE idUnidad = #{idUnidad}
    </update>

    <delete id="eliminar" parameterType="int">
        DELETE FROM Unidad WHERE idUnidad = #{idUnidad}
    </delete>

    <update id="desvincularConductor" parameterType="int">
        UPDATE Unidad SET idColaborador = NULL WHERE idColaborador = #{idColaborador}
    </update>

    <update id="asignarConductor" parameterType="map">
        UPDATE Unidad SET idColaborador = #{idColaborador} WHERE idUnidad = #{idUnidad}
    </update>
    
    <update id="liberarUnidad" parameterType="int">
        UPDATE Unidad SET idColaborador = NULL WHERE idUnidad = #{idUnidad}
    </update>
    
    <select id="buscarPorColaborador" parameterType="int" resultType="pojo.Unidad">
        SELECT 
            idUnidad,
            marca,
            modelo,
            anio,
            vin,
            nii,
            idTipoUnidad,
            idSucursal,
            idColaborador
        FROM unidad
        WHERE idColaborador = #{idColaborador}
    </select>

</mapper>