<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unidad">

    <select id="obtenerUnidades" resultType="pojo.Unidad">
        SELECT 
            u.idUnidad, u.marca, u.modelo, u.anio, u.vin, u.nii, 
            u.idTipoUnidad, u.idSucursal,
            u.idColaborador, IFNULL(t.nombre, 'Sin Tipo') AS nombreTipo,
            IFNULL(s.nombre, 'Sin Sucursal') AS nombreSucursal,
            
            
            IFNULL(CONCAT(c.nombre, ' ', c.apellidoPaterno), 'Sin Asignar') AS nombreColaborador
            
        FROM Unidad u
        LEFT JOIN TipoUnidad t ON u.idTipoUnidad = t.idTipoUnidad
        LEFT JOIN Sucursal s ON u.idSucursal = s.idSucursal
        LEFT JOIN colaborador c ON u.idColaborador = c.idColaborador
    </select>

    <update id="desvincularConductor" parameterType="int">
        UPDATE Unidad SET idColaborador = NULL WHERE idColaborador = #{idColaborador}
    </update>

    <update id="asignarConductor" parameterType="map">
        UPDATE Unidad SET idColaborador = #{idColaborador} WHERE idUnidad = #{idUnidad}
    </update>
    
    <update id="liberarUnidad" parameterType="int">
        UPDATE Unidad SET idColaborador = NULL WHERE idUnidad = #{idUnidad}
    </update>

</mapper>